/* Article CSS */
article.tweet {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid black;
  padding: 0.5em;

}
article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  margin-top: 10px;
}

.iconName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconName img {
  max-width: 40%;
  height: auto;
  margin-right: 0.2em;
}

#tweeterHandle {
  color: rgb(155, 153, 153);
  float: right;
}

article.tweet p {
  border-bottom: 3px solid black;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

article.tweet footer {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 5px;
}
article.tweet:hover {
  box-shadow: 10px 10px grey;
}

.tweet i:hover {
  color: orange;
}