.new-tweet {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  border-bottom: 3px solid black;
  width: 100%;
}

textarea {
  border: 0px;
  background-color: #f4f1ec;
}

.new-tweet footer {
  font-family: 'Bungee', sans-serif;
  justify-content: space-between;
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
}

.counter {
  float: right;
}

.turnRed {
  color: red;
}

/* Article CSS */
article.tweet header {
  display: flex;
  flex-direction: row;
}
article.tweet p {
  border-bottom: 3px solid black;
}
article.tweet footer {
  display: flex;
  flex-direction: row;
}